<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="demo.dao.user.UserMapper">
    <!-- 查询用户记录数的方法 -->
    <select id="count" resultType="int">
        SELECT count(1) AS count FROM skeyedu_user
    </select>
    
    <select id="getUserList" resultType="SkeyeduUser">
        SELECT `id`, `loginName`, `userName`, `password`, `sex`, `identityCode`,
        `email`, `mobile`, `type` FROM  skeyedu_user
    </select>
    
    
    <select id="getUserListByUserName" resultType="SkeyeduUser" parameterType="String">
        SELECT `id`, `loginName`, `userName`, `password`, `sex`, `identityCode`, `email`,
        `mobile`, `type` FROM skeyedu_user WHERE 1=1 AND userName LIKE CONCAT('%',#{userName},'%')
    </select>

    <!-- 查询用户列表（参数：对象入参 -->
    <select id="queryUserList" resultType="SkeyeduUser" parameterType="SkeyeduUser">
        SELECT `id`, `loginName`, `userName`, `password`, `sex`, `identityCode`,
        `email`, `mobile`, `type` FROM skeyedu_user
        WHERE 1=1 AND userName LIKE CONCAT('%',#{userName},'%') AND type = #{type}
     </select>

    <!-- 查询用户列表（参数:Map -->
    <select id="getUserListByMap" resultType="SkeyeduUser" parameterType="Map">
        SELECT `id`, `loginName`, `userName`, `password`, `sex`, `identityCode`, `email`,
         `mobile`, `type` FROM skeyedu_user WHERE 1=1 AND loginName LIKE CONCAT('%',#{lName},'%') AND sex = #{sex}
    </select>

</mapper>
