<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 通过这配置文件完成mybatis与数据库的连接-->
<configuration>
       <!-- 引入database.properties 文件-->
    <properties resource="database.properties"/>
    <!-- 配置mybatis的log实现为log4j -->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!-- 类型别名 -->
    <typeAliases>
        <package name="demo.entity"/>
    </typeAliases>


    <environments default="development">
        <environment id="development">
            <!-- 配置事务管理，采用JDBC事务管理 -->
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>


    <!-- 将mapper文件加入到配置文件中 -->
    <mappers>
        <mapper resource="demo/dao/skeyuser/UserMapper.xml"/>
    </mappers>


</configuration>