<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.educoder.core.persistence.mapper.EduExplainMapper" >
  <resultMap id="BaseResultMap" type="net.educoder.core.persistence.beans.EduExplain" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="challenge_id" property="challengeId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from edu_explain
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="net.educoder.core.persistence.beans.EduExplain" >
    insert into edu_explain (id, challenge_id, create_time, 
      update_time, is_delete)
    values (#{id,jdbcType=BIGINT}, #{challengeId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="net.educoder.core.persistence.beans.EduExplain" >
    update edu_explain
    set challenge_id = #{challengeId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, challenge_id, create_time, update_time, is_delete
    from edu_explain
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, challenge_id, create_time, update_time, is_delete
    from edu_explain
  </select>
</mapper>