<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.educoder.core.persistence.mapper.EduTerminalStepMapper" >
  <resultMap id="BaseResultMap" type="net.educoder.core.persistence.beans.EduTerminalStep" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    <result column="image_id" property="imageId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from edu_terminal_step
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="net.educoder.core.persistence.beans.EduTerminalStep" >
    insert into edu_terminal_step (id, language, image_id, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{language,jdbcType=VARCHAR}, #{imageId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="net.educoder.core.persistence.beans.EduTerminalStep" >
    update edu_terminal_step
    set language = #{language,jdbcType=VARCHAR},
      image_id = #{imageId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, language, image_id, create_time, update_time
    from edu_terminal_step
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, language, image_id, create_time, update_time
    from edu_terminal_step
  </select>
</mapper>